.locations {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 50px;
  margin: 70px 0;

  @include media-breakpoint-up(md) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 90px;
    margin: 85px 0;
  }

  @include media-breakpoint-up(lg) {
    grid-gap: 190px;
    margin-top: 140px;
  }
}

.location-card {
  &__title {
    color: $blue;
    font-size: 20px;
    letter-spacing: 2.8px;
    line-height: 1;
    margin-bottom: 20px;
    text-transform: uppercase;
    padding-bottom: 8px;
    border-bottom: 4px solid;
  }

  &__content * {
    color: $blue-200;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.16px;
  }

  &__image-wrapper {
    margin-top: 40px;
  }

  a {
    display: inline-block;
    color: $red;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.16px;
    text-decoration: underline;
  }

  &:nth-child(2) a {
    color: $gray-400;
  }
}
